@model ETicaretDersiProje.Eticaret.MvcWebUI.Models.HomeListViewModel
@{
    Layout = "../_LayoutPageHome.cshtml";
}

<section>
    <h1>@Model.Product.ProductName</h1>
    <div class="pro-dl">
        <span class="bor-top"></span><span class="bor-rig"></span><span class="bor-lef"></span><span class="bor-bot"></span>
        <img src="@Model.Product.Picture" alt="@Model.Product.ProductName" id="selected" />
    </div>
    <div class="pro-dr">
        <h2>Ürün Özellikleri</h2>
        <ul>
            <li>Kod :  @Model.Product.Code</li>
            <li>Kod :   </li>
            <li>@Model.Product.ProductDescription</li>
            <li>Koli İ&ccedil;i Adet : @Model.Product.NumberInPackage</li>
            <li>Barkod :&nbsp;@Model.Product.Barcode</li>
        </ul>
    </div>
</section>



